<div class="site-wrapper-reveal ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 ml-auto mr-auto">
        <div class="myaccount-box-wrapper">
          <div class="tab-content content-modal-box">
            <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
              <h6><%= t('spree.forgot_password') %></h6>
              <p><%= t('spree.instructions_to_reset_password') %></p>
              <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path, html:{class:'account-form-box'} do |f| %>
                <div class="single-input">
                  <%= f.email_field :email, class: '', placeholder:'Email', tabindex: 1, autofocus: true %>
                </div>
                <p class="mt-10">
                  <%= f.submit t('spree.reset_password'), class: 'btn btn--full btn--black' %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
