<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<%= render template: 'spree/user_sessions/new' %>
<div class="site-wrapper-reveal ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 ml-auto mr-auto">
        <div class="myaccount-box-wrapper">
          <div class="tab-content content-modal-box">
            <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
              <% if Spree::Config[:allow_guest_checkout] %>
                <div id="guest_checkout" data-hook class="columns omega eight">
                  <h6><%= t('spree.guest_user_account') %></h6>
                  <% if flash[:registration_error] %>
                    <div class='flash error'><%= flash[:registration_error] %></div>
                  <% end %>
                  <%= form_for @order, url: update_checkout_registration_path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
                    <p>
                      <%= f.label :email, t('spree.email') %><br />
                      <%= f.email_field :email, class: 'form-control' %>
                    </p>
                    <p><%= f.submit t('spree.continue'), class: 'btn btn--full btn--black' %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
