<div class="site-wrapper-reveal ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 ml-auto mr-auto">
        <div class="myaccount-box-wrapper">
          <div class="tab-content content-modal-box">
            <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
              <% if flash[:alert] %>
                <div class="flash errors"><%= flash[:alert] %></div>
              <% end %>
              <%= form_for Spree::User.new, as: :spree_user, html:{class:'account-form-box'}, url: spree.create_new_session_path do |f| %>
                <h6><%= t('spree.login_as_existing') %></h6>
                <div class="single-input">
                  <%= f.email_field :email, class: '', placeholder:'Email', tabindex: 1, autofocus: true %>
                </div>
                <div class="single-input">
                  <%= f.password_field :password, class: '',  placeholder:"Password", tabindex: 2 %>
                </div>
                <div class="checkbox-wrap mt-10">
                  <label class="label-for-checkbox inline mt-15">
                    <%= f.check_box :remember_me, tabindex: 3 %>
                    <i>Remember me</i>
                  </label>
                  <%= link_to t('spree.forgot_password'), spree.recover_password_path, class:'mt-10' %>
                </div>
                <div class="button-box mt-25">
                  <button type="sumit" class="btn btn--full btn--black">Log in</button>
                </div>
              <% end %>
              <%= t('spree.or') %>&nbsp;<%= link_to t('spree.create_a_new_account'), spree.signup_path, class:'mt-10'  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
